.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header .logo {
    font-size: 24px;
}

.header .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 4px 0px;
}

.header .secondary-text, ul {
    font-size: 18px;
    color: #E5E7EB;
    margin: 4px 0px;
}

.sign-up, .call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
}

.body-1 .title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    display: flex;
    justify-content: center;
    margin: 32px;
}

.body-2 {
    background-color: #E5E7EB;
}

.body-2 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 1100px;
}

body {
    margin: 0;
    font-family: monospace,"Lucida Console";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 16px 192px;
    padding-bottom: 64px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.second-section {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 400px;
    height: auto;
}

.info-card {
    width: 500px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 8px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: 4px 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin: 8px 0px; 
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin: 64px;
    margin-bottom: 128px;
}

.box {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 12px;
    border-color: #3882F6;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.subtext {
    width: 200px;
    text-align: center;
    color: gray;
}

.body-2 {
    padding: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-2 .credit {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

.quote-size {
    display: flex;
    flex-direction: column;  
}


.body-3 {
    padding: 64px 128px;
}

.call-to-action .sign-up {
    border-color: #E5E7EB;
    border-style: solid;
}

.call-to-action .main-text {
    font-weight: bold;
}

.call-to-action {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}



